<header>
    <div class="headerContainer">
        <h1>Terp TrailFinder</h1>
        <div class="headerLinkContainer">
            <a href="/">Home</a>
            <a href="../saved">Saved</a>
        </div>
    </div>
</header>